@forward '$styles/tools/colors';
@forward '$styles/tools/text-sizes';
@use '$styles/globals' as *;
@use '$styles/fonts' as *;

// Body

body {
	@include text-paragraph('M');

	display: grid;
	row-gap: $body-gap;
	margin: 0;
	// stylelint-disable-next-line number-max-precision
	line-height: 1.42857143;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

// Headings

h1 {
	@include text-header('XL');

	color: get-shade($clr-highlight, 500);
	text-align: center;
}

h2 {
	@include text-header('L');

	color: get-shade($clr-highlight, 500);
	text-align: left;
}

h3 {
	@include text-header('M');

	margin: 0;
	color: get-shade($clr-highlight, 500);
	text-align: left;
}

@include size-small {
	h1 {
		@include text-size('L');
	}

	h2 {
		@include text-size('M');
	}
}

// Paragraph

p {
	@include text-paragraph('M');

	max-width: 70ch;
	margin: 0 0 12px;
	// stylelint-disable-next-line number-max-precision
	line-height: 1.42857143;
	color: #333;
}

@include size-small {
	p {
		@include text-size('S');
	}
}

// Lists

ul {
	margin-left: 1rem;

	> li {
		max-width: 65ch;
	}
}

@include size-small {
	ul > li {
		@include text-size('S');
	}
}

// Links

a {
	text-decoration-line: underline;

	&:hover {
		text-decoration-line: underline;
	}
}